.settings-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.PAGE__MODE {
  align-items: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 5rem;
}

.unchecked, .checked {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.icon {
  width: 100%;
}

.unchecked:before, .checked:before {
  top: calc(50% - 21px);
}

.unchecked:before {
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  content: '';
  height: 31px;
  left: calc(50% - 38px);
  position: absolute;
  width: 31px;
}

.checked:before {
  background-color: black;
  border-radius: 50%;
  content: '';
  height: 31px;
  left: calc(50% + 6px);
  position: absolute;
  width: 31px;
}

.moon-icon {
  transform: translateX(23px);
}

.GO_HOME_BTN {
  margin-top: 50px;
}
